/*Realizado por: Renny Petit;*/
.ws-hidden {
  display: none; }

.ws-show {
  display: block; }

img {
  width: 100%;
  height: 100%; }

body {
  font-family: 'Open Sans', sans-serif;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  /*height: 100vh;*/
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column; }

a {
  text-decoration: none; }

a:link {
  text-decoration: none; }

.emoticono {
  color: gray; }

.header {
  font-family: 'Lato', sans-serif;
  width: 100%;
  height: 100px;
  /*margin: 10px 0;*/
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 1rem; }
  .header .information {
    color: #3fae2a; }
    .header .information a {
      color: #3fae2a; }
    .header .information p a {
      font-size: 14px; }
    .header .information p > i {
      font-size: 12px; }
    .header .information .fa-whatsapp {
      font-size: 17px;
      padding-right: 5px; }
    .header .information p {
      margin: 0; }
    .header .information .p-last {
      color: gray; }
      .header .information .p-last a {
        color: gray; }

#identification-p {
  display: none; }

.principal {
  height: 600px;
  width: 100%;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  background: #00B300;
  padding: 60px; }
  .principal .contenedor {
    width: 100%;
    height: 100%;
    background: white;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding: 40px; }
  .principal .card-a {
    height: 100%; }
  .principal .card-b {
    width: 300px;
    height: 300px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center; }
  .principal .section-flex {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    height: 100%; }
  .principal h1 {
    color: #00B300;
    font-weight: bold; }
  .principal h3 {
    color: gray;
    font-size: 20px; }
  .principal .btn-one {
    background: #00B300;
    border-radius: 15px;
    padding-left: 25px;
    padding-right: 25px; }
  .principal .two .card-a {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    width: 60%; }
    .principal .two .card-a .content-section-a {
      width: 100%; }
      .principal .two .card-a .content-section-a .content-input {
        width: 400px;
        float: right; }
        .principal .two .card-a .content-section-a .content-input input {
          border-radius: 20px;
          border: 2px solid #00B300; }
    .principal .two .card-a h2 {
      color: #00B300;
      font-weight: bold;
      font-size: 25px;
      text-align: right;
      padding-bottom: 10px; }
  .principal .three .card-a {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    width: 60%; }
    .principal .three .card-a .content-section-a {
      width: 100%; }
      .principal .three .card-a .content-section-a .content-input {
        width: 400px;
        float: right; }
        .principal .three .card-a .content-section-a .content-input input {
          border-radius: 20px;
          border: 2px solid #00B300; }
    .principal .three .card-a h2 {
      color: #00B300;
      font-weight: bold;
      font-size: 23px;
      text-align: right;
      padding-bottom: 10px; }
  .principal .three .tipo-identification-content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end; }
  .principal .three .form-control {
    border-radius: 20px;
    border: 2px solid #00B300; }
  .principal .three .content-select {
    padding-right: 10px;
    width: 80px !important; }
  .principal .four .card-a {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap; }
    .principal .four .card-a .content-section-a {
      width: 100%; }
      .principal .four .card-a .content-section-a .content-input {
        width: 400px; }
        .principal .four .card-a .content-section-a .content-input input {
          border-radius: 20px;
          border: 2px solid #00B300; }
    .principal .four .card-a h2 {
      color: #00B300;
      font-weight: bold;
      font-size: 25px;
      padding-bottom: 10px; }
    .principal .four .card-a .from-control {
      border-radius: 20px;
      border: 2px solid #00B300; }
    .principal .four .card-a .content-select {
      width: 400px;
      float: left; }
  .principal .five .card-a {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap; }
    .principal .five .card-a .content-section-a {
      width: 100%;
      text-align: right; }
      .principal .five .card-a .content-section-a .content-input {
        width: 400px; }
        .principal .five .card-a .content-section-a .content-input input {
          border-radius: 20px;
          border: 2px solid #00B300; }
    .principal .five .card-a h2 {
      color: #00B300;
      font-weight: bold;
      font-size: 25px;
      padding-bottom: 10px; }
    .principal .five .card-a .from-control {
      border-radius: 20px;
      border: 2px solid #00B300; }
    .principal .five .card-a .content-select {
      width: 400px;
      float: right; }
  .principal .six .card-a {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap; }
    .principal .six .card-a .content-section-a {
      width: 100%;
      text-align: left; }
      .principal .six .card-a .content-section-a .content-input {
        width: 400px; }
        .principal .six .card-a .content-section-a .content-input input {
          border-radius: 20px;
          border: 2px solid #00B300; }
    .principal .six .card-a h2 {
      color: #00B300;
      font-weight: bold;
      font-size: 25px;
      padding-bottom: 10px; }
    .principal .six .card-a .from-control {
      border-radius: 20px;
      border: 2px solid #00B300; }
    .principal .six .card-a .content-select {
      width: 400px; }
  .principal .seven .card-a {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap; }
    .principal .seven .card-a .content-section-a {
      width: 100%;
      text-align: right; }
      .principal .seven .card-a .content-section-a .content-input {
        width: 400px; }
        .principal .seven .card-a .content-section-a .content-input input {
          border-radius: 20px;
          border: 2px solid #00B300; }
    .principal .seven .card-a .gj-datepicker.gj-datepicker-bootstrap.gj-unselectable.input-group {
      float: right; }
    .principal .seven .card-a h2 {
      color: #00B300;
      font-weight: bold;
      font-size: 25px;
      padding-bottom: 10px; }
    .principal .seven .card-a .from-control {
      border-radius: 20px;
      border: 2px solid #00B300; }
    .principal .seven .card-a .content-select {
      width: 400px;
      float: right; }
  .principal .eight h2 {
    width: 100%;
    text-align: center;
    color: #00B300;
    font-weight: bold;
    font-size: 25px;
    padding-bottom: 10px; }
  .principal .eight .eight-card-a, .principal .eight .eight-card-b {
    width: 50%;
    height: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center; }
  .principal .eight .img-viaje {
    height: 200px;
    width: 250px; }
  .principal .eight #img-solo {
    width: 225px;
    padding-left: 25px; }
  .principal .eight .text-viaje {
    width: 100%;
    text-align: -webkit-center; }
    .principal .eight .text-viaje .texto h5 {
      background: #00B300;
      width: 170px;
      padding: 7px;
      border-radius: 20px;
      font-size: 16px;
      color: white;
      font-weight: 400; }
    .principal .eight .text-viaje .form-check {
      padding-left: 0; }
    .principal .eight .text-viaje .form-check-input {
      margin-top: 0.2rem; }
  .principal .eight label {
    width: 100%;
    height: 100%;
    display: initial; }
  .principal .eight .pareja, .principal .eight .familia, .principal .eight .amigos {
    display: none; }
  .principal .eight .section-before-after {
    margin-top: 2px; }
  .principal .nine .card-a {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap; }
    .principal .nine .card-a .content-section-a {
      width: 100%;
      text-align: right; }
      .principal .nine .card-a .content-section-a .content-input {
        width: 400px; }
        .principal .nine .card-a .content-section-a .content-input input {
          border-radius: 20px;
          border: 2px solid #00B300; }
    .principal .nine .card-a h2 {
      color: #00B300;
      font-weight: bold;
      font-size: 25px;
      padding-bottom: 10px; }
    .principal .nine .card-a .from-control {
      border-radius: 20px;
      border: 2px solid #00B300; }
    .principal .nine .card-a .content-select {
      width: 400px;
      float: right; }
  .principal .nine img {
    width: 100%;
    height: 90%;
    cursor: pointer; }
  .principal .ten h2 {
    color: #00B300;
    font-weight: bold;
    font-size: 25px;
    padding-bottom: 10px; }
  .principal .ten .flex-checkbox {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap; }
  .principal .ten .card-a {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    width: 50%; }
    .principal .ten .card-a .content-section-a {
      width: 100%;
      text-align: left; }
      .principal .ten .card-a .content-section-a .custom-checkbox .custom-control-input:checked ~ .custom-control-label::before {
        background: #00B300; }
      .principal .ten .card-a .content-section-a .custom-checkbox .custom-control-label::before {
        border-radius: 0;
        background: white;
        border: 2px solid #00B300; }
      .principal .ten .card-a .content-section-a label {
        color: #5a5858; }
    .principal .ten .card-a .from-control {
      border-radius: 20px;
      border: 2px solid #00B300; }
    .principal .ten .card-a .content-select {
      width: 400px; }
  .principal .ten .section-before-after {
    margin-top: -48px; }
  .principal .eleven .card-a {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    width: 30%; }
    .principal .eleven .card-a .content-section-a {
      width: 100%;
      text-align: left; }
      .principal .eleven .card-a .content-section-a .content-input {
        width: 400px; }
        .principal .eleven .card-a .content-section-a .content-input input {
          border-radius: 20px;
          border: 2px solid #00B300; }
    .principal .eleven .card-a h2 {
      color: #00B300;
      font-weight: bold;
      font-size: 30px;
      padding-bottom: 10px; }
    .principal .eleven .card-a h3 {
      color: gray;
      font-size: 18px;
      line-height: 1.3;
      padding-top: 10px; }
    .principal .eleven .card-a h4 {
      color: #584a4a;
      font-size: 16px;
      line-height: 1.3;
      padding-top: 10px;
      font-weight: bold;
      letter-spacing: 0.8px; }
    .principal .eleven .card-a .from-control {
      border-radius: 20px;
      border: 2px solid #00B300; }
    .principal .eleven .card-a .content-select {
      width: 400px; }

.four div.content-section-a > div > select, .five div.content-section-a > div > select, .nine div.content-section-a > div > select, .eight #viaje {
  border-radius: 20px;
  border: 2px solid #00B300; }

.gj-picker-bootstrap table tr td.disabled div, .gj-picker-bootstrap table tr td.other-month div {
  color: #e4dddd; }

.section-before-after {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between; }

.before button {
  color: #00B300;
  background: transparent;
  border: none; }

.after {
  display: none; }
  .after button {
    color: #00B300;
    background: transparent;
    border: none; }

#startDate, #endDate {
  background: white; }

.btn.focus, .btn:focus {
  -webkit-box-shadow: none;
          box-shadow: none; }

#startDate, #endDate {
  border-radius: 20px;
  border: 2px solid #00B300; }

.btn.btn-outline-secondary.border-left-0 {
  display: none; }

.form-control:focus {
  -webkit-box-shadow: 0 0 0 0.1rem #00b300;
          box-shadow: 0 0 0 0.1rem #00b300; }

.destock, .mobile {
  width: 100%;
  height: 100%; }

.mobile {
  display: none; }

footer {
  color: #FFF;
  font-size: 16px;
  padding: 1rem;
  height: 300px;
  text-align: center;
  font-family: 'Lato', sans-serif; }
  footer h3 {
    color: #444343;
    font-size: 21px;
    padding: 10px 0; }
  footer h5 {
    color: #444343;
    font-weight: 400;
    font-size: 16px;
    padding-top: 10px;
    line-height: 1.5; }
  footer .card-a {
    text-align: center; }
  footer .content-img {
    height: 110px;
    width: 110px;
    margin: auto; }

.slick-list, .slick-track, .contenedor, .contenedor .container, .contenedor .row {
  height: 100% !important; }

/*start responsive 1200-1024*/
@media screen and (max-width: 1200px) and (min-width: 1024px) {
  /*start header*/
  header .logo-falabella {
    width: 240px;
    height: 60px; }
  header .information {
    font-size: 14px; }
  /*end header*/
  /*start body*/
  .principal {
    height: 500px; }
    .principal h2 {
      font-size: 16px !important; }
    .principal .one h1 {
      font-size: 2em; }
    .principal .one h3 {
      font-size: 16px; }
    .principal .one button {
      font-size: 13px;
      margin-bottom: 10px; }
    .principal .one .card-b {
      width: 250px; }
    .principal .two .card-a .content-section-a .content-input {
      width: 300px;
      float: right; }
    .principal .three .content-select {
      padding-right: 10px;
      width: 80px !important; }
    .principal .three .tipo-identification-content .content-input {
      width: 300px !important;
      float: right; }
    .principal .five .card-a .content-section-a .content-select {
      width: 300px; }
    .principal .eight .img-viaje {
      height: 150px;
      width: 150px; }
    .principal .eight #img-solo {
      width: inherit;
      padding-left: initial; }
    .principal .eight .text-viaje .texto h5 {
      width: 130px;
      padding: 5px;
      font-size: 14px; }
    .principal .eight .section-before-after {
      margin-top: 2px; }
    .principal .nine .card-b {
      width: 200px; }
    .principal .ten .card-a {
      width: 100%; }
    .principal .ten .section-before-after {
      margin-top: -38px; }
    .principal .eleven .card-a {
      width: 50%; }
  /*end body*/
  /*start footer*/
  /*end footer header*/ }

/*end responsive 1200-1024*/
/*start responsive 1024-768*/
@media screen and (max-width: 1023px) and (min-width: 768px) {
  /*start header*/
  header .logo-falabella {
    width: 200px;
    height: 60px; }
  header .information {
    font-size: 14px; }
  /*end header*/
  /*start body*/
  .principal {
    height: 500px;
    /*start footer*/
    /*end footer*/ }
    .principal h2 {
      font-size: 15px !important; }
    .principal .card-b {
      width: 200px;
      height: 200px; }
    .principal .content-select {
      width: 200px !important; }
      .principal .content-select .form-control {
        font-size: 14px; }
    .principal .content-section-a h2 {
      font-size: 18px; }
    .principal .card-a h2 {
      font-size: 18px; }
    .principal .one h1 {
      font-size: 1.4em; }
    .principal .one h3 {
      font-size: 16px; }
    .principal .one button {
      font-size: 13px;
      margin-bottom: 10px; }
    .principal .two .section-flex {
      -ms-flex-wrap: nowrap;
          flex-wrap: nowrap; }
    .principal .two .card-a .content-section-a .content-input {
      width: 200px; }
      .principal .two .card-a .content-section-a .content-input input {
        font-size: 12px; }
    .principal .three .content-select {
      padding-right: 10px;
      width: 80px !important; }
    .principal .three .form-control {
      font-size: 12px; }
    .principal .three .tipo-identification-content .content-input {
      width: 200px !important;
      float: right; }
      .principal .three .tipo-identification-content .content-input input {
        font-size: 12px; }
    .principal .three select.form-control:not([size]):not([multiple]) {
      height: calc(2rem + 2px); }
    .principal .four .card-a .content-select {
      width: 220px; }
    .principal .eight .img-viaje {
      height: 100px;
      width: 100px; }
    .principal .eight #img-solo {
      width: inherit;
      padding-left: initial; }
    .principal .eight .text-viaje .texto h5 {
      width: 95px;
      padding: 7px;
      font-size: 12px; }
    .principal .eight .section-before-after {
      margin-top: -1px; }
    .principal .ten .flex-checkbox {
      -webkit-box-pack: start;
          -ms-flex-pack: start;
              justify-content: flex-start;
      font-size: 12px; }
    .principal .ten .section-before-after {
      margin-top: -36px; }
    .principal .eleven .card-a {
      width: 70%; }
      .principal .eleven .card-a h3, .principal .eleven .card-a h4 {
        font-size: 14px !important; }
    .principal footer h5 {
      font-size: 12px; } }

/*end responsive 1024-768*/
/*start responsive 767-522*/
@media screen and (max-width: 767px) and (min-width: 522px) {
  /*start header*/
  header .logo-falabella {
    width: 200px;
    height: 60px; }
  header .information {
    font-size: 14px; }
  /*end header*/
  /*start body*/
  .principal {
    height: 500px;
    /*start footer*/
    /*end footer*/ }
    .principal .destock {
      display: none; }
    .principal .mobile {
      display: block; }
    .principal .eight-after-mobile {
      display: block; }
    .principal .eight-after-destock {
      display: none; }
    .principal h2 {
      font-size: 15px !important;
      text-align: center; }
    .principal .content-select {
      width: 100% !important;
      text-align: -webkit-center; }
      .principal .content-select .form-control {
        font-size: 14px;
        width: 200px; }
    .principal .before button, .principal .after button {
      font-size: 12px; }
    .principal .content-section-a h2 {
      font-size: 18px; }
    .principal .section-flex {
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
      -webkit-box-pack: center;
          -ms-flex-pack: center;
              justify-content: center; }
    .principal .card-a {
      text-align: -webkit-center;
      width: 100%;
      height: auto; }
    .principal .card-b {
      width: 180px;
      height: 180px; }
    .principal .one h1 {
      font-size: 1.4em; }
    .principal .one h3 {
      font-size: 16px; }
    .principal .one button {
      font-size: 13px;
      margin-bottom: 10px; }
    .principal .two .card-a {
      width: 200px; }
      .principal .two .card-a h2 {
        text-align: center; }
      .principal .two .card-a .content-section-a .content-input {
        width: 200px;
        text-align: -webkit-center; }
        .principal .two .card-a .content-section-a .content-input input {
          font-size: 12px;
          width: 180px !important;
          height: auto; }
    .principal .three .card-b {
      width: 130px;
      height: 110px; }
    .principal .three .content-section-a h2 {
      text-align: center; }
    .principal .three .content-select {
      padding-right: 0px !important;
      width: 100px !important;
      margin: 0 0 5px 0; }
      .principal .three .content-select #tipo-identification {
        width: 100px !important; }
      .principal .three .content-select .form-control {
        font-size: 12px !important;
        width: 65px !important;
        height: 34px; }
    .principal .three .tipo-identification-content {
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
      -webkit-box-pack: center;
          -ms-flex-pack: center;
              justify-content: center; }
      .principal .three .tipo-identification-content .principal .three .content-select {
        padding-right: 0px;
        width: auto !important;
        margin: 0 0 5px 0; }
      .principal .three .tipo-identification-content .content-input {
        width: 100px !important;
        float: right; }
        .principal .three .tipo-identification-content .content-input input {
          font-size: 12px; }
    .principal .four .card-a {
      -webkit-box-ordinal-group: 2;
          -ms-flex-order: 1;
              order: 1; }
      .principal .four .card-a .content-select {
        width: 200px;
        float: left; }
    .principal .six .card-a {
      -webkit-box-ordinal-group: 3;
          -ms-flex-order: 2;
              order: 2; }
    .principal .six .card-b {
      -webkit-box-ordinal-group: 2;
          -ms-flex-order: 1;
              order: 1; }
    .principal .six #startDate {
      font-size: 14px; }
    .principal .six .input-group {
      width: 200px !important;
      margin: auto; }
    .principal .seven .content-section-a {
      width: 200px !important; }
    .principal .eight .mobile .card-b {
      width: 150px;
      height: 150px; }
      .principal .eight .mobile .card-b .img-viaje {
        width: 150px;
        height: 150px; }
    .principal .eight .section-before-after {
      margin-top: -2px !important; }
    .principal .ten .section-flex .card-a {
      width: 100%; }
      .principal .ten .section-flex .card-a .content-section-a .flex-checkbox {
        -ms-flex-pack: distribute;
            justify-content: space-around;
        -ms-flex-wrap: nowrap;
            flex-wrap: nowrap;
        font-size: 13px; }
      .principal .ten .section-flex .card-a .card-checkbox-b {
        padding-left: 10px; }
    .principal .ten .section-flex .card-b {
      display: none; }
    .principal .ten .section-before-after {
      margin-top: -34px; }
    .principal .eleven .card-a {
      width: 100% !important; }
      .principal .eleven .card-a .content-section-a h2, .principal .eleven .card-a .content-section-a h3 {
        font-size: 12px; }
    .principal .eleven .card-b {
      width: 100px;
      height: 100px; }
    .principal footer h5 {
      font-size: 12px; } }

@media screen and (max-width: 690px) {
  .principal .ten .section-flex {
    -webkit-box-pack: start !important;
        -ms-flex-pack: start !important;
            justify-content: flex-start !important;
    -webkit-box-align: start !important;
        -ms-flex-align: start !important;
            align-items: flex-start !important; }
    .principal .ten .section-flex .card-a {
      width: 100%; }
      .principal .ten .section-flex .card-a .content-section-a .flex-checkbox {
        -ms-flex-wrap: wrap !important;
            flex-wrap: wrap !important; }
        .principal .ten .section-flex .card-a .content-section-a .flex-checkbox .card-checkbox-a {
          width: 250px; }
        .principal .ten .section-flex .card-a .content-section-a .flex-checkbox .card-checkbox-b {
          width: 250px;
          padding-left: 0; } }

/*end responsive 767-522*/
/* /*start responsive 522-0*/
@media screen and (max-width: 522px) {
  /*start header*/
  header {
    margin: 10px 0 !important;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    padding: 0 !important; }
    header .logo-falabella {
      width: 200px;
      height: 60px; }
    header .information {
      font-size: 14px;
      width: 100%;
      text-align: center;
      text-align: -webkit-center;
      text-align: -moz-center;
      text-align: -o-center; }
  /*end header*/
  /*start body*/
  .principal {
    height: 500px;
    padding: 20px;
    /*start footer*/
    /*end footer*/ }
    .principal .slick-list.draggable {
      padding: 0px !important; }
    .principal .eight-after-mobile {
      display: block; }
    .principal .eight-after-destock {
      display: none; }
    .principal .contenedor {
      padding: 20px 0; }
    .principal .section-flex {
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center;
      height: 95%; }
    .principal .section-flex {
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
      -webkit-box-pack: center;
          -ms-flex-pack: center;
              justify-content: center; }
    .principal .card-a {
      text-align: center;
      width: 100%;
      height: auto; }
    .principal .card-b {
      width: 180px;
      -webkit-box-align: start;
          -ms-flex-align: start;
              align-items: flex-start;
      height: auto; }
    .principal h2 {
      font-size: 14px !important;
      text-align: center !important; }
    .principal .content-select {
      width: 200px !important;
      float: initial !important;
      margin: auto; }
    .principal .one h1 {
      font-size: 25px; }
    .principal .one h3 {
      font-size: 19px; }
    .principal .one .btn-one {
      background: #00B300;
      padding-left: 20px;
      padding-right: 20px;
      font-size: 14px;
      margin-bottom: 10px; }
    .principal .two .card-a {
      width: auto; }
      .principal .two .card-a .content-section-a .content-input {
        width: 100%;
        text-align: -webkit-center; }
        .principal .two .card-a .content-section-a .content-input input {
          font-size: 12px;
          width: 200px; }
    .principal .three .card-b {
      height: 110px !important; }
    .principal .three .content-section-a h2 {
      text-align: center; }
    .principal .three .content-select {
      padding-right: 0px !important;
      width: 100px !important;
      margin: 0 0 5px 0; }
      .principal .three .content-select #tipo-identification {
        width: 100px !important; }
      .principal .three .content-select .form-control {
        font-size: 12px !important;
        width: 65px !important;
        height: 34px; }
    .principal .three .tipo-identification-content {
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
      -webkit-box-pack: center;
          -ms-flex-pack: center;
              justify-content: center; }
      .principal .three .tipo-identification-content .principal .three .content-select {
        padding-right: 0px;
        width: auto !important;
        margin: 0 0 5px 0; }
      .principal .three .tipo-identification-content .content-input {
        width: 100px !important;
        float: right; }
        .principal .three .tipo-identification-content .content-input input {
          font-size: 12px; }
    .principal .four .card-a {
      -webkit-box-ordinal-group: 2;
          -ms-flex-order: 1;
              order: 1; }
    .principal .six .card-a {
      -webkit-box-ordinal-group: 2;
          -ms-flex-order: 1;
              order: 1; }
    .principal .eight .destock {
      display: none; }
    .principal .eight .mobile {
      display: block; }
    .principal .eight .img-viaje {
      width: 150px;
      height: 150px; }
    .principal .eight #img-solo {
      width: inherit;
      padding-left: initial; }
    .principal .eight .pareja, .principal .eight .familia, .principal .eight .amigos {
      display: none; }
    .principal .eight .section-before-after {
      margin-top: -21px; }
    .principal .ten .section-flex .card-a {
      width: 100%; }
      .principal .ten .section-flex .card-a .content-section-a .flex-checkbox {
        -ms-flex-pack: distribute;
            justify-content: space-around;
        -ms-flex-wrap: nowrap;
            flex-wrap: nowrap;
        font-size: 12px; }
    .principal .ten .section-flex .card-b {
      width: 100% !important;
      top: 0;
      margin-top: -50px; }
      .principal .ten .section-flex .card-b .servicios {
        width: 120px;
        height: 120px; }
    .principal .eleven .section-flex .card-a {
      width: 70%; }
      .principal .eleven .section-flex .card-a h2 {
        font-size: 18px !important; }
      .principal .eleven .section-flex .card-a h3, .principal .eleven .section-flex .card-a h4 {
        font-size: 15px; }
    .principal footer h5 {
      font-size: 12px; } }

/*end responsive 522-0*/
@media screen and (max-width: 374px) {
  .ten .section-before-after {
    margin-top: -50px !important; } }
