$green-text:#71b64c;
$green-background:#00B300;

img {
	width: 100%;
	height: 100%;
}
body{
	font-family: 'Open Sans', sans-serif;
	margin: 0 auto;
	display: flex;
	/*height: 100vh;*/
	flex-direction: column;
}
a{text-decoration: none;}
a:link{text-decoration:none;}
.header{
	font-family: 'Lato', sans-serif;
	width: 100%;
	height: 100px;
	/*margin: 10px 0;*/
	display: flex;
	justify-content: space-around;
	align-items: center;
	padding: 1rem;
	& .logo-falabella{
		
	}
	& .information{
		color: rgb(63, 174, 42);
		& a{color: rgb(63, 174, 42);}
		& .fa-whatsapp{
			font-size: 17px;
			padding-right: 5px;
		}
		p{
			margin: 0;
		}
		& .p-last{
  			color:gray;
  			& a{color:gray;}
		}
	}
}

.principal{
	height: 600px;
	width: 100%;
	flex: 1;
	
	background: $green-background;
	padding: 60px;
	& .contenedor{
		width: 100%;
		height: 100%;
		background: white;
		display: flex;
		justify-content: center;
		align-items: center;
		padding: 40px;

	}
	& .card-a{
		height: 100%;
	}
	& .card-b{
		width: 300px;
		height:300px;
		display: flex;
		justify-content: center;
		align-items: center;
		
	}
	& .section-flex{
		display: flex;
		justify-content: space-between;
		align-items: center;
		height:100%;
	}
	& .one{
	}
	& h1{
		color: $green-background;
		font-weight: bold;
	}
	& h3{
		color: gray;
		font-size: 20px;
	}
	& .btn-one{
		background: $green-background;
		border-radius: 15px;
		padding-left: 25px;
		padding-right: 25px;
	}

	.two{
		& .card-a{
			display: flex;
			    justify-content: center;
			    align-items: center;
			    flex-wrap: wrap;
			    width: 60%;
			    & .content-section-a{
			    	width: 100%;
			    	& .content-input{
			    		    width: 400px;

			    		float: right;
			    		& input{
			    			border-radius: 20px;
			    			border: 2px solid $green-background;
			    		}
			    	}
			    }
			h2{
				color: $green-background;
				font-weight: bold;
				font-size: 25px;
				text-align:right;
				padding-bottom: 10px;

			}
		}
	}
	.three{
		& .card-a{
			display: flex;
			    justify-content: center;
			    align-items: center;
			    flex-wrap: wrap;
			    & .content-section-a{
			    	width: 100%;
			    	& .content-input{
			    		    width: 400px;

			    		
			    		& input{
			    			border-radius: 20px;
			    			border: 2px solid $green-background;
			    		}
			    	}
			    }
			h2{
				color: $green-background;
				font-weight: bold;
				font-size: 25px;
				padding-bottom: 10px;

			}
			& .from-control{
					border-radius: 20px;
					border: 2px solid $green-background;	
				}
			& .content-select{
				    width: 400px;

				float: left;
				
			}
		}
	}
	.four{
		& .card-a{
			display: flex;
			    justify-content: center;
			    align-items: center;
			    flex-wrap: wrap;
			    & .content-section-a{
			    	width: 100%;
			    	text-align: right;
			    	& .content-input{
			    		    width: 400px;

			    		
			    		& input{
			    			border-radius: 20px;
			    			border: 2px solid $green-background;
			    		}
			    	}
			    }
			h2{
				color: $green-background;
				font-weight: bold;
				font-size: 25px;
				padding-bottom: 10px;

			}
			& .from-control{
					border-radius: 20px;
					border: 2px solid $green-background;	
				}
			& .content-select{
				    width: 400px;

				float: right;
				
			}
		}
	}

	.five{
		& .card-a{
			display: flex;
			    justify-content: center;
			    align-items: center;
			    flex-wrap: wrap;
			    & .content-section-a{
			    	width: 100%;
			    	text-align: left;
			    	& .content-input{
			    		    width: 400px;


			    		
			    		& input{
			    			border-radius: 20px;
			    			border: 2px solid $green-background;
			    		}
			    	}
			    }
			h2{
				color: $green-background;
				font-weight: bold;
				font-size: 25px;
				padding-bottom: 10px;

			}
			& .from-control{
					border-radius: 20px;
					border: 2px solid $green-background;	
				}
			& .content-select{
				    width: 400px;

				
				
			}
		}
	}

	.six{
		& .card-a{
			display: flex;
			    justify-content: center;
			    align-items: center;
			    flex-wrap: wrap;
			    & .content-section-a{
			    	width: 100%;
			    	text-align: right;
			    	& .content-input{
			    		    width: 400px;


			    		
			    		& input{
			    			border-radius: 20px;
			    			border: 2px solid $green-background;
			    		}
			    	}
			    }
			    & .gj-datepicker.gj-datepicker-bootstrap.gj-unselectable.input-group{
			    	float: right;
			    }
			h2{
				color: $green-background;
				font-weight: bold;
				font-size: 25px;
				padding-bottom: 10px;

			}
			& .from-control{
					border-radius: 20px;
					border: 2px solid $green-background;	
				}
			& .content-select{
				    width: 400px;

				float: right;
				
			}
		}
	}

	.seven{
		& h2{
			width: 100%;
			text-align: center;
			color: $green-background;
			font-weight: bold;
			font-size: 25px;
			padding-bottom: 10px;
		}
		& .section-before-after{
			margin-top: -48px;
		}

		& .seven-card-a, & .seven-card-b{
		width: 50%;
		height: 100%;
		display: flex;
		justify-content: center;
		align-items: center;

		}
		& .img-viaje{
			height: 200px;
		}
		& .text-viaje{
		    width: 100%;
		    text-align: -webkit-center;
		    & .texto{
		    	
		    	& h5{
		    		background: $green-background;
		    		width: 170px;
		    		padding: 7px;
		    		border-radius: 20px;
		    		font-size: 16px;
		    		color: white;
		    		font-weight: 400;
		    	}

		    }
		    & .form-check{
		    	padding-left: 0;
		    }
		    & .form-check-input {
  				margin-top: 0.2rem;
  			}
		}
		& label{
			width: 100%;
			height: 100%;
			display: initial;
		}
	}

	.eight{
		& .card-a{
			display: flex;
			    justify-content: center;
			    align-items: center;
			    flex-wrap: wrap;
			    & .content-section-a{
			    	width: 100%;
			    	text-align: right;
			    	& .content-input{
			    		    width: 400px;


			    		
			    		& input{
			    			border-radius: 20px;
			    			border: 2px solid $green-background;
			    		}
			    	}
			    }
			h2{
				color: $green-background;
				font-weight: bold;
				font-size: 25px;
				padding-bottom: 10px;

			}
			& .from-control{
					border-radius: 20px;
					border: 2px solid $green-background;	
				}
			& .content-select{
				    width: 400px;

				float: right;
				
			}
		}
		& img{
			width: 100%;
			height: 90%;
		}
	}
	.nine{
		& .card-a{
			display: flex;
			    justify-content: center;
			    align-items: center;
			    flex-wrap: wrap;
			    & .content-section-a{
			    	width: 100%;
			    	text-align: left;
			    	& .custom-checkbox .custom-control-input:checked~.custom-control-label::before {
						background: $green-background;
			    	}
			    	& .custom-checkbox .custom-control-label::before {
    					border-radius: 0;
    					background: white;
    					border: 2px solid $green-background;
					}
					& label{
						color: #5a5858;
					}
					& .card-checkbox-b{
						
					}
			    }
			h2{
				color: $green-background;
				font-weight: bold;
				font-size: 25px;
				padding-bottom: 10px;

			}
			& .from-control{
					border-radius: 20px;
					border: 2px solid $green-background;	
				}
			& .content-select{
				    width: 400px;

				
				
			}
		}
	}

	.ten{
		& .card-a{
			display: flex;
			    justify-content: center;
			    align-items: center;
			    flex-wrap: wrap;
			    & .content-section-a{
			    	width: 100%;
			    	text-align: left;
			    	& .content-input{
			    		    width: 400px;


			    		
			    		& input{
			    			border-radius: 20px;
			    			border: 2px solid $green-background;
			    		}
			    	}
			    }
			h2{
				color: $green-background;
				font-weight: bold;
				font-size: 30px;
				padding-bottom: 10px;

			}
			& h3{
				color: gray;
				font-size: 18px;
				line-height: 1.3;
				padding-top:10px;
			}
			& h4{
				color: #584a4a;
			    font-size: 16px;
			    line-height: 1.3;
			    padding-top: 10px;
			    font-weight: bold;
			    letter-spacing: 0.8px;
			}
			& .from-control{
					border-radius: 20px;
					border: 2px solid $green-background;	
				}
			& .content-select{
				    width: 400px;

				
				
			}
		}
	}



}
.three  div.content-section-a > div > select,.four div.content-section-a > div > select,.eight div.content-section-a > div > select{
	border-radius: 20px;
	border: 2px solid $green-background;		
}

.section-before-after{
	
	display: flex;
	justify-content: space-between;
}
.before{
	
	& button{
		color:$green-background;
		background: transparent;
		border: none;
	}
}
.after{
	
	& button{
	color:$green-background;
	background: transparent;
	border: none;
	}
}
.btn.focus, .btn:focus {
    box-shadow: none;
}


#startDate,#endDate {border-radius: 20px;
border: 2px solid $green-background;
}
.btn.btn-outline-secondary.border-left-0{
	display: none;
}
.form-control:focus {
    
    box-shadow: 0 0 0 0.1rem #00b300;
}


footer{
	color: #FFF;
	font-size: 1rem;
	padding: 1rem;
	height: 300px;
	text-align: center;
	font-family: 'Lato', sans-serif;
	& h3{
		color: #444343;
		font-size: 21px;
		padding: 10px 0;
	}
	& h5{
		color: #444343;
		font-size: 13px;
		padding-top: 10px;
		line-height: 1.5;
		& a{
			 color: #444343;
		}
	}
	& .card-a{
		text-align: center;
	}

	& .content-img{
		height: 161px;
		width: 161px;
		margin:auto;
	}
}



.slick-list,.slick-track,.contenedor,.contenedor .container,.contenedor .row{
 	height: 100% !important;
 	
	
 }


 /*start responsive 1200-1024*/
  @media screen and (max-width: 1200px) and (min-width: 1024px) {
 	/*start header*/
  	header{
  		& .logo-falabella{
  			width: 240px;
  			height: 60px;
  		}
  		& .information{
  			font-size: 14px;
  		}
  	}
 	/*end header*/

 	/*start body*/
 	.principal{
 		height: 500px;
 				& h2{

 					font-size: 16px !important;

 				}
 				& .one{
 					& h1{
 						font-size: 2em;
 					}
 					& h3{

 						font-size: 16px;

 					}
 					& button{
 						font-size:13px;
 					}
 				}
 		& .one{}

 		& .two{
 			& .card-a{
 				& .content-section-a{
 				   	
 			    	& .content-input{
 		    		    width: 300px;
			    		float: right;
			    		& input{
 				    	} 				    	
 				    }
 				}
 			}
 		}
 		.four{
 			& .card-a{
			    & .content-section-a{
			    	& .content-select{
			    		width: 300px;
		
			   	 	}
				}
 			}
 		}
 		& .seven{
 			& .img-viaje{
 				height: 150px;
 				width: 150px;
 			}
 			.text-viaje .texto h5 {
 			    width: 130px;
 			    padding: 5px;
 			    font-size: 14px;
 			}
 			& .section-before-after{
 				margin-top: -45px;
 			}
 		}

 	}
 		
 	/*end body*/

 	/*start footer*/
 	footer{
 		.content-img {
 		    height: 130px;
 		    width: 130px;
 		     
 		  }
 		& h5{
 			font-size: 12px;

 		}
 	}
 	/*end footer header*/
}
 /*end responsive 1200-1024*/



/*start responsive 1024-768*/
 @media screen and (max-width: 1023px) and (min-width: 768px) {

	/*start header*/
 	header{
 		& .logo-falabella{
 			width: 200px;
 			height: 60px;
 		}
 		& .information{
 			font-size: 14px;
 		}
 	}
	/*end header*/

	/*start body*/
	.principal{
		& h2{
			font-size: 15px !important;
		}
		height: 500px;
		& .card-b{
			width: 200px;
			height:200px;
		}

		& .content-select,{
			width: 200px !important;
			& .form-control{
				font-size: 14px;
			}
		}
		& .content-section-a h2{
				font-size: 18px;
			}
		& .card-a{
			& h2{
				font-size: 18px;
			}
		}

		& .one{
			& h1{
				font-size: 1.4em;
			}
			& h3{

				font-size: 16px;

			}
			& button{
				font-size:13px;
			}
		}

		& .two{
			& .section-flex{
				flex-wrap:nowrap;
			}
			& .card-a{
				& .content-section-a{
					& .content-input{
						width: 200px;
						& input{
							font-size: 12px;
						}
					}
				}
			
			}
		}

		.three{
			& .card-a{
				& .content-select{
					    width: 220px;
				}
			}
		}
		& .seven{
			& .img-viaje{
				height: 100px;
				width: 100px;
			}
			.text-viaje .texto h5 {
			    width: 95px;
			    padding: 7px;
			    font-size: 12px;
			}
			& .section-before-after{
				margin-top: -40px;
			}
		}



		/*start footer*/
		footer{
			.content-img {
			    height: 130px;
			    width: 130px;
			     
			  }
			& h5{
				font-size: 12px;

			}
		}
		/*end footer*/
	}
}

/*end responsive 1024-768*/

/*start responsive 767-522*/
 @media screen and (max-width: 767px) and (min-width: 522px) {

	/*start header*/
 	header{
 		& .logo-falabella{
 			width: 200px;
 			height: 60px;
 		}
 		& .information{
 			font-size: 14px;
 		}
 	}
	/*end header*/

	/*start body*/
	.principal{
		height: 500px;
		& h2{
			font-size: 15px !important;
			text-align: center;
		}
		& .content-select{
		width: 100% !important;
		text-align: -webkit-center;
			& .form-control{
				font-size: 14px;
				width: 180px;
			}
		}
		.before button,.after button{
			font-size: 12px;
		}	
		& .content-section-a h2{
			font-size: 18px;
		}
		& .section-flex{
			flex-wrap:wrap;
			justify-content: center;
		}
		& .card-a{
			text-align: -webkit-center;
			width: 100%;
			height: auto;
		}
		& .card-b{
			width: 180px;
			height:180px;

		}
		& .one{
			& h1{
				font-size: 1.4em;
			}
			& h3{

				font-size: 16px;

			}
			& button{
				font-size:13px;
			}
		} 
		& .two{
			& .card-a{
				width: 200px;
				
				& .content-section-a{
					& .content-input{
						width: 200px;
						text-align: -webkit-center;
						& input{
							font-size: 12px;
							width: 180px !important;
							height:auto;
						}
					}
				}			
			
			}
		}
		.three{
			& .card-a{
				order:1;
				& .content-select{
					    width: 200px;

					float: left;
					
				}
			}
		}
		.five{
			.card-a{
				order: 2;
			}
			.card-b{
				order: 1;
			}
			& #startDate{
				font-size: 12px;
			}
		}

		/*start footer*/
		footer{
			.content-img {
			    height: 130px;
			    width: 130px;
			     
			  }
			& h5{
				font-size: 12px;

			}
		}
		/*end footer*/
	}
}

/*end responsive 767-522*/

/* /*start responsive 522-0*/
 @media screen and (max-width: 522px){

	/*start header*/
 	header{
 		& .logo-falabella{
 			width: 200px;
 			height: 60px;
 		}
 		& .information{
 			font-size: 14px;
 		}
 	}
	/*end header*/

	/*start body*/
	.principal{
		height: 800px;
		padding: 5px!important;
		& .section-flex{
			display: flex;
			justify-content: center;
			align-items: start;
			height:100%;
		}
		& .contenedor{
			
			

		}
		& .one{
			& h1{
				font-size: 20px;
			}
			& h1{
				font-size: 17px;
			}
		}
		& .section-flex{
			flex-wrap:wrap;
			justify-content: center;
		}
		& .card-a{
			text-align: center;
			width: 100%;
			height: auto;
		}
		& .card-b{
			width: 180px;
			align-items: flex-start;
			height: 100%;
		}
		& .one{
			
		} 
		& .two{
			& .card-a{
				width: auto;
				& .content-section-a{
					& h2{
						text-align: center;
					}
					& .content-input{
						width: 100%;
						text-align: -webkit-center;
						& input{
							font-size: 12px;
							width: 200px;
						}
					}
				}
			
			}
		}
		.three{
			& .card-a{
				order: 1;
			}
		}

		& 
		/*start footer*/
		footer{
			.content-img {
			    height: 130px;
			    width: 130px;
			     
			  }
			& h5{
				font-size: 12px;

			}
		}
		/*end footer*/
	}
}

/*end responsive 522-0*/